*{
    margin: 0; 
    padding: 0; 
}

html {
    background-color: lightgray;
    padding: 0 4rem;
}

body {
    background-color: white;
    
    
}


.color-box {
    height: 2em;
    background-color: #004175;
    border-bottom: .2em solid #89deef;
    color: white;
    padding: 2rem 2rem;
    font-family: 'Open Sans';
    
    
} 

.title{
    height: 2em;
    padding: 1em;
    margin: auto;
    width: 85%;
    
}
.headline{
    margin: auto;
    display: flex;
    justify-content: flex start;
    
}

.adoption-form{
    height: 2em;
    margin: auto;
    width: 85%;
}
#main {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 85%;
    min-height: auto;
    border: 2px solid white;
    margin: auto;
}
.image {
    width: auto;
}
.dog {
    border: 2px solid white;
    width: 31%;
    height: auto;

}

.image img {
    width: 100%;
}
.trait {
    border: #89deef;
    background-color: #89deef;
    border-radius: 1em;
    font-size: smaller;
    padding: .1em;
    margin: .1em;
   
}
.dog-tag{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
footer{
    display: flex;
    flex: 1 1 auto;
    justify-content: space-between;
    margin: auto;
    height: 14em;
    width: 100%;
    flex-grow: 1;
    
}
.box{
    width: 33.333%;
    height: 100%;
    display: flex;
    flex: 1 1 auto;
    flex-grow: 1;   
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Oswald';
    font-size: 2rem;   
}

.donate-link {
    background: linear-gradient(
      rgba(166, 169, 240, 0.45), 
      rgba(166, 169, 240, 0.45)
    ), 
    url(starter_files/images/donate.jpg);
    background-size: cover;
    background-repeat: no-repeat; 

}
.volunteer-link {
    background: linear-gradient(
        rgba(166, 169, 240, 0.45), 
        rgba(166, 169, 240, 0.45)
      ), 
      url(starter_files/images/volunteer.jpg);
      background-size:cover;
      background-repeat: no-repeat; 
}
.location-link {
    background: linear-gradient(
      rgba(166, 169, 240, 0.45), 
      rgba(166, 169, 240, 0.45)
    ), 
    url(starter_files/images/location.png);
    background-size: cover;
    background-repeat: no-repeat; 
}