*{
    margin: 0; 
    padding: 0; 
}
.color-box {
    height: 2em;
    background-color: #004175;
    border-bottom: .2em solid #89deef;
    color: white;
    padding: 2em;
    font-family: 'Open Sans';
    margin: auto;
    width: 60%;
    
} 

.title{
    height: 2em;
    padding: 1em;
    margin: auto;
    width: 60%;
}

.adoption-form{
    height: 2em;
    margin: auto;
    width: 60%;
}
#main {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 60%;
    min-height: auto;
    border: 2px solid white;
    margin: auto;
}
/*.image {
    width: auto;
}*/
.dog {
    border: 2px solid white;
    width: 32%;
    height: auto;
}

.image img {
    width: 100%;
}
.trait {
    border: #89deef;
    background-color: #89deef;
    border-radius: 2em;
}