*{
    margin: 0; 
    padding: 0; 
}
.color-box {
    height: 2em;
    background-color: #004175;
    border-bottom: .2em solid #89deef;
    color: white;
    padding: 2em;
    font-family: 'Open Sans';
    margin: auto;
    width: 60%;
    
} 

.title{
    height: 2em;
    padding: 1em;
    margin: auto;
    width: 60%;
}

.adoption-form{
    height: 2em;
    margin: auto;
    width: 60%;
}